<!-- <label for="name">Server Name</label>
<input id="name" type="text" [(ngModel)]="servername"><br>
<label for="content">Server Content</label>
<input id="content" type="text" [(ngModel)]="serverContent"><br>
<button type="submit" (click)="addServer()">Add Server</button><br>
<button type="submit" (click)="addBlueprint()">Add blueprint</button> -->
<app-cockpit (serverCreation)="createServer($event)" (serverBlueprint)="createBlueprint($event)"></app-cockpit>

<!-- <div *ngFor="let server of Serverlist">
  <h1>{{server.name}}</h1>
  <p *ngIf="server.type=='blueprint'" style="color:blue;">{{server.content}}</p>
  <p *ngIf="server.type=='server'" style="color:green">{{server.content}}</p>
</div> -->
<button type="submit" (click)="change()">first change</button><br>
<button type="submit" (click)="destroy()">Destroy the element</button><br>

<app-server [element]="singleServer" [heading]="singleServer.name" *ngFor="let singleServer of server">
  <p *ngIf="singleServer.type=='blueprint'" style="color:blue;">{{singleServer.content}}</p>
  <p  #content *ngIf="singleServer.type=='server'" style="color:green">{{singleServer.content}}</p>
</app-server>




<app-recipe></app-recipe>
<app-random (element)="getMsg($event)"></app-random>
<app-music [musicname]="name" (musicList)="addMusic($event)"></app-music>
<div *ngFor="let item of list">
  <li>{{item}}</li>
</div>

<app-choclate [choclate]="candies" (sendgift)="receive($event)"></app-choclate>
<hr/>
<hr/>
<hr/>

<app-gamecontrol (intervalfired)="updateNumber($event)" [intervals]="timer"></app-gamecontrol>
<app-odd *ngFor="let number of oddnumber" [oddNumber]="number"></app-odd>
<app-even *ngFor="let number of evennumber" [evenNumber]="number"></app-even>
